<template>
  <div class="hello">
    <div>
      {{$ApiHost}}
      <form @submit.prevent="addSkill">
      <input type="text" v-model="skill" name="skill" v-validate="'min:5'"/>{{skill}}<br/>

        <transition name="alert-in" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
          <p v-if="errors.has('skill')">{{errors.first('skill')}}</p>
        </transition>

      <!--<input type="checkbox" id="checkbox" v-model="checked"/>-->
      </form>
    </div>
    {{name}}
    {{btnState ? 'The button is disabled':'The button is active'}}
    <button v-bind:disabled="btnState">Change Name</button>
    <ul>
      <transition-group name="list" enter-active-clas="animated bounceInUp" leave-active-class="animated bounceOutDown">
      <li v-for="(data,index) in skills" :key='index'>{{index}}. {{data.skill}}</li>
      </transition-group>
    </ul>
    <p v-if="skills.length > 1">You have more then one skill</p>
    <p v-else>You have less then 1 or one skill</p>
    <div v-bind:class="{alert:yellow,alert1:green}"></div>
    <div v-bind:style="{backgroundColor:bgColor,height:bgHeight,width:bgWidth}"></div>


  </div>
</template>

<script>
export default {
  name: 'Skills',
    props:{

    },
    data () {
    return {
        skill:'',
        checked:false,
      name: 'Welcome to Your Vue.js App',
        btnState:true,
        skills:[
            {"skill":"Vue.js"},
            {"skill":"Laravel"}
        ],
        yellow:false,
        green:false,
        bgColor:"yellow",
        bgWidth:"100%",
        bgHeight:"30px"
    }
  },
    methods:{
      addSkill(){
          this.$validator.validateAll().then((result)=>{
              if (result){
                  this.skills.push({skill:this.skill});
                  this.skill = '';
              }else {
                  console.log('Not Valid');
              }
              });

      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  /*@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";*/
  @import "https://cdn.jsdelivr.net/npm/animate.css";
  .alert-in-enter-active{
    animation: bounce-in .5s;
  }
  .alert-in-leave-active{
    animation: bounce-in .5s reverse;
  }
  
  @keyframes bounce-in {
    0%{
      transform: scale(0);
    }
    50%{
      transform: scale(1.5);
    }
    100%{
      transform: scale(1);
    }
  }

  .alert{
    background-color: yellow;
    width: 100%;
    height: 30px;
  }
  .alert1{
    background-color: green;
    width: 100%;
    height: 30px;
  }
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
