<template>
    <div class="test">
        <h1>{{title}}</h1>
        <span v-html="titleHtml">title</span>
        <p v-if="showName">{{user.first_name+' '+user.last_name}}</p>
        <p v-else="showName">Nobody</p>
        <p v-text="user.first_name"></p>
        <input type="text" v-model="title"/>
        <ul>
            <li v-for="item in items">{{item.title}}</li>
        </ul>
        <!--<button @click="greet('Hello')">Say Greeting</button>-->
        <button v-on:click="greet('Hello')">Say Greeting</button><br/>
        <input type="text" v-on:keyup="pressKey" v-on:keyup.enter="enterHit"/><br/>
        <label>First Name: </label><input type="text" v-model="user.first_name"/><br/>
        <label>Last Name: </label><input type="text" v-model="user.last_name"/><br/>
        <h3>{{fullName}}</h3>
        <h2>{{msg}}</h2>
    </div>
</template>

<script>
    export default {
        name: "Test",
        props:{
          msg:{
              type:String,
              default:'Something'
          }
        },
        data(){
            return {
                title:'Hello World',
                titleHtml:'<h1>Hello World</h1>',
                user:{
                    first_name:'Knarik',
                    last_name:'Yeritsyan'
                },
                showName:true,
                items:[
                    {title:'Item one'},
                    {title:'Item two'},
                    {title:'Item three'},
                ]
            }
        },
        methods:{
            greet:function(greeting){
                alert(greeting);
            },
            pressKey:function (e) {
                console.log(e.target.value)
            },
            enterHit:function () {
                console.log('You hit enter')
            }
        },
        computed: {
            fullName:function () {
                return this.user.first_name+' '+this.user.last_name;
            }
        }
    }
</script>

<style scoped>

</style>