<template>
  <div id="app">
<ul>
  <li><router-link to="/users">Users</router-link></li>
  <li><router-link to="/test">Tset</router-link></li>
</ul>
    <!--<users></users>-->
    <router-view></router-view>
    <footer-component></footer-component>

  </div>
</template>

<script>
import Skills from "./components/Skills";
import Test from "./components/Test";
import Users from "./components/Users";
import FooterComponent from "./components/footer/FooterComponent"

export default {
    components: {Skills,Test,Users,FooterComponent},
    name: 'App'
}
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
